doctype html
html
	include includes/_head
	body
		include includes/_header
		include includes/_body
		include includes/_footer
		script(src="http://yandex.st/jquery/1.11.1/jquery.min.js")
		script window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')
		script(src="js/main.js")

