html{line-height:1}
blockquote,body,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,ol,p,pre,ul{margin:0}
ol,ul{padding:0;list-style:none}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
b,h1,h2,h3,h4,h5,h6,strong{font-weight:400}
big,h1,h2,h3,h4,h5,h6,small{font-size:100%}
address,dfn,em,i{font-style:normal}
sub,sup{vertical-align:baseline;font-size:100%}
q{quotes:'' ''}
img{border:none}
th{padding:0;font-weight:400}
table{border-collapse:collapse;border-spacing:0}
button,input[type=button]{padding:0;display:inline-block}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
input[type=checkbox],input[type=radio]{padding:0}
button,input[type=button],input[type=reset],input[type=submit],select{cursor:pointer}
*{box-sizing:border-box}
html{position:relative;min-height:100%}
body{background:#fff}
a{color:inherit;outline:0}